.ts-psd-upload {
  position: relative;
  height: 100%;
  text-align: center;
  white-space: nowrap;

  &>span {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 85%;
  }

  &>button {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 80%;
    background: backgroundColor;
    border: 4px dotted ideColor;
    color: fontColor;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
}