.ts-current-selection {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: left top;
}

.ts-selection-box {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.2);
  z-index: 99999;
}