html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  // background: linear-gradient(to top, backgroundColor, backgroundColor);
  background: backgroundColor;
  overflow: hidden;
}

html{
  border: 1px solid borderColor;
  box-sizing: border-box;
}
