header {
  position: relative;
  height: $mainHeaderHeight;
  color: white;
  line-height: $mainHeaderHeight;
  padding: 0 ($mainHeaderHeight / 3);
  font-size: 1.5em;
  font-weight: bold;
  -webkit-app-region: drag;
  background: ideColor;
  box-sizing: border-box;
  border-bottom: 1px solid borderColor;
  
  i {
    font-size: 0.5em;
    padding: 0 0.5em / 2;
    font-weight: normal;
  }

  .window-controler {
    position: absolute;
    text-align: right;
    top: 0;
    right: ($mainHeaderHeight / 3);

    a {
      display: inline-block;
      height: 18px;
      width: 18px;
      line-height: 20px;
      opacity: 0.8;
      text-decoration: none;
      -webkit-app-region: no-drag;

      &:before {
        vertical-align: middle;
      }

      &.fa-close:before {
        position: relative;
        top: -3px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}