header {
  position: relative;
  height: $mainHeaderHeight;
  color: white;
  line-height: $mainHeaderHeight;
  padding: 0 ($mainHeaderHeight / 3);
  font-size: 1.5em;
  font-weight: bold;
  -webkit-app-region: drag;

  i {
    font-size: 0.5em;
    padding: 0 0.5em / 2;
    font-weight: normal;
  }

  .window-controler {
    float: right;
    text-align: right;
    a {
      display: inline-block;
      height: 18px;
      width: 18px;
      line-height: 20px;
      opacity: 0.8;
      text-decoration: none;
      -webkit-app-region: no-drag;
      &:after{
        vertical-align: middle;
      }
      &.fa-close:after{
        position: relative;
        top: -1px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}