.main {
  height: 'calc(100vh - %s)' % $mainFooterHeight;
  box-sizing: border-box;
  padding-top: $mainHeaderHeight;
  margin-top: - $mainHeaderHeight;
  background: backgroundColor;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .split-line {
    position: relative;
    width: 2px;
    background: ideColor;
    margin-top: -1px;
    margin-bottom: -1px;
    // cursor: pointer;

    // &:after {
    //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), alpha(#ccc - 50%, 0.2), rgba(0, 0, 0, 0));
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   width: 2px;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }

  .toolbar {
    box-sizing: border-box;
    height: $toolBarHeight;
    background: ideColor;
    border-bottom: 1px solid borderColor;
    display: flex;

    [class*='toolbar'] {
      width: 'calc(50% - %s)' % 2px;

      &.psd-toolbar {
        margin-left: 2px;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    // margin-left: ($mainHeaderHeight / 3);
    // margin-right: ($mainHeaderHeight / 3);
  }

  .html, .psd {
    overflow: hidden;
    width: 'calc(50% - %s)' % 2px;
    position: relative;

    &.resize {
      &>* {
        display: none;
      }
    }
  }
}