.main {
  height: 'calc(100vh - %s)' % $mainFooterHeight;
  box-sizing: border-box;
  padding-top: $mainHeaderHeight;
  margin-top: - $mainHeaderHeight;
  background: backgroundColor;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .split-line {
    position: relative;
    width: 2px;
    background: ideColor;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .toolbar {
    box-sizing: border-box;
    height: $toolBarHeight;
    background: ideColor;
    border-bottom: 1px solid borderColor;
    display: flex;

    [class*='toolbar'] {
      width: 'calc(50% - %s)' % 2px;

      &.psd-toolbar {
        margin-left: 2px;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
  }

  .html, .psd {
    overflow: hidden;
    width: 'calc(50% - %s)' % 2px;
    position: relative;

    &.resize {
      &>* {
        display: none;
      }
    }
  }

  &.grab .html, &.grab .psd  {
    cursor: -webkit-grab !important;
  }

  &.grabbing .html, &.grabbing .psd {
    cursor: -webkit-grabbing !important;
  }

  &.zoom .html, &.zoom .psd {
    cursor: -webkit-zoom-in !important;
  }

  &.zoomIn .html, &.zoomIn .psd {
    cursor: -webkit-zoom-in !important;
  }

  &.zoomOut .html, &.zoomOut .psd {
    cursor: -webkit-zoom-out !important;
  }
}